{
    "Meta": {
        "Title": "Generic Service",
        "Description": "Generic Service API Collection",
        "Host": "downsized-devs.com",
        "Basepath": "/",
        "Version": ""
    }
}
