package rest

import (
	"github.com/downsized-devs/generic-service/src/business/entity"
	"github.com/downsized-devs/sdk-go/audit"
	"github.com/downsized-devs/sdk-go/codes"
	"github.com/downsized-devs/sdk-go/errors"
	"github.com/gin-gonic/gin"
)
