func (uc *{{ .EntityName }}) Create(ctx context.Context, params entity.{{ .EntityNameUpper }}CreateParam) (entity.{{ .EntityNameUpper }}, error) {
	user, err := uc.auth.GetUserAuthInfo(ctx)
	created{{ .EntityNameUpper }} := entity.{{ .EntityNameUpper }}{}
	if err != nil {
		return created{{ .EntityNameUpper }}, err
	}

	params.CreatedBy = null.StringFrom(fmt.Sprintf("%v", user.User.ID))
	params.CreatedAt = null.TimeFrom(Now())
	params.Status = null.Int64From(1)
	params.UpdatedAt = null.TimeFrom(Now())
	params.UpdatedBy = null.StringFrom(fmt.Sprintf("%v", user.User.ID))
	created{{ .EntityNameUpper }}, err = uc.{{ .EntityName }}.Create(ctx, params)
	if err != nil {
		return created{{ .EntityNameUpper }}, err
	}

	return created{{ .EntityNameUpper }}, nil
}
